<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Greetings</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="greetings.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="/"><h1 id="home">Greetings</h1></a>
        <div class="row">
          <div class="twelve columns">
            <form action="/greetings" method="post">
              <div class="row">
                <div class="container">
                  <h6>Enter your name and choose your language</h6>
                  <input id="firstName" name="name" class="name-box" type="text"/>
                  <div class="row">
                    <div class="three columns" style="padding:40px">
                      <label class="">
                        <input type="radio" name="greetType" class="greetSettings" value="English">
                        <span class="label-body">English</span>
                      </label>
                    </div>
                    <div class="three columns" style="padding:40px">
                      <label class="">
                        <input type="radio" name="greetType" class="greetSettings" value="Afrikaans">
                        <span class="label-body">Afrikaans</span>
                      </label>
                    </div>
                    <div class="three columns" style="padding:40px">
                      <label class="">
                        <input type="radio" name="greetType" class="greetSettings" value="isiXhosa">
                        <span class="label-body">isiXhosa</span>
                      </label>
                    </div>
                  </div>
                  <button class="greetButton" on type="submit" name="greet">Greet</button>
                  {{!-- <button class="resetButton" on type="submit" name="reset">Reset</button> --}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  {{{body}}}
  <a href="/greeted">Users Greeted</a>
</body>

</html>