<div class="container table-box">
    <div class="row">
        <div class="ten columns">
            <table>
                <tr>
                    <th>User Name</th>
                    <th>Times Greeted</th>
                </tr>
                {{#each users}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.counter}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>