<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Greetings</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="skeleton.css">
  <link rel="stylesheet" href="greetings.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="ten columns header offset-by-one columns header">
        <a href="/"><h3>Greetings</h3></a>
        {{#if messages.info}}
        <div class="ten columns offset-by-one columns entry">
          <p>{{messages.info}}</p>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <form action="/greetings" method="post">
        <p>Enter your name and choose your language</p>
        <div class="row">
          <div class="twelve columns someInput">
            <input id="firstName" name="name" class="" type="text" />
            <button class="button button-primary" on type="submit" name="greet">Greet</button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="four columns" style="padding:40px">
        <label class="">
          <input type="radio" name="greetType" class="greetSettings" value="English">
          <span class="label-body">English</span>
        </label>
      </div>
      <div class="four columns" style="padding:40px">
        <label class="">
          <input type="radio" name="greetType" class="greetSettings" value="Afrikaans">
          <span class="label-body">Afrikaans</span>
        </label>
      </div>
      <div class="four columns" style="padding:40px">
        <label class="">
          <input type="radio" name="greetType" class="greetSettings" value="isiXhosa">
          <span class="label-body">isiXhosa</span>
        </label>
      </div>
    </div>
    </form>
    <form action="/" method="post">
      <button class="button button-primary" type="submit">Reset</button>
    </form>
    <div class="greeted-users"><a href="/greeted">Greeted Users: {{data.tally}} </a></div>
  </div>
  </div>
</body>

</html>