<div class="row">
  <div class="twelve columns">
    <p>
      <strong>
        <span class="output">{{Greet.greeting}}</span>
      </strong>
    </p>
    <p>
      <span class="counter">{{Greet.tally}}</span>
    </p>
  </div>
</div>