body {
  margin: 10% 0 10% 0; 
  background-image: url('./body-background.jpeg');
  text-align: center;
}

a {
  list-style: none;
  text-decoration: none;
}

.container {
  border-radius: 3em;
  background-color: aliceblue;
  margin: 0 auto;
}

.header {
  padding: 3em;
  text-align: center;
}

.form-section {
  text-align: center;
}

input {
  text-align: center;
}

span.label-body {
  color: black;
  font-size: 1.5em;
}

span {
  font-size: 2.5em;
}

ul.greeted-users li {
  list-style: none;
  text-decoration: none;
  padding: 1em;
  color: black;
}

ul.greeted-users a {
  text-decoration: none;
  padding: 2em;
  color: black;
}

ul.usersDetails li {
  height: 100px;
  width: 100%;
  list-style: none;
  text-decoration: none;
  margin-top: 2em;
}

.someInput {
  display: inline-flex;
}

.greeted-users {
  margin: 30px;
}

.entry {
  border: 1px solid aquamarine;
  background-color: azure;
  height: 45px;
  color: cadetblue;
}
.entry p {
  padding: 10px;
}