body {
  background-color: #fff;
  text-align: center;
}

a {
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.header {
  color: black;
  text-align: center;
}

.form-section {
  text-align: center;
}

input {
  text-align: center;
}

span.label-body {
  color: black;
  font-size: 1.5em;
}

span {
  font-size: 2.5em;
}

ul.greeted-users li {
  list-style: none;
  text-decoration: none;
  padding: 1em;
  color: black;
}

ul.greeted-users a {
  text-decoration: none;
  padding: 2em;
  color: black;
}

ul.usersDetails li {
  height: 100px;
  width: 100%;
  list-style: none;
  text-decoration: none;
  margin-top: 2em;
}